.image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.r2add-button {
  margin-bottom: 20px;
  caret-color: transparent;
}
.span-box {
  min-width: 5000px;
  background-color: aqua;
  margin-top: 500px;
  padding: 100px;
}

.right-side-scroll-bar {
  background-color: aqua;
  width: 60px;
  min-height: 100px;
  position: fixed;
  right: 0;
  margin-right: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .buttonn {
  border-radius: 50%;
} */
